<!DOCTYPE html>
<html>
<head>
    <title>Forgot Password</title>
</head>
<body>
    <fieldset>
        <form method="post" action="../controller/forgotpassword.php">
            <table align="center" width="100%">
                <tr>
                    <td align="center">
                        <h1><b>Forgot Password</b></h1>
                        <h3>Enter the required details to reset your password</h3>
                    </td>
                </tr>
                <tr>
                    <td align="center">Email:<br>
                        <input type="email" name="email" required/>
                    </td>
                </tr>
                <tr>
                    <td align="center">
                        <input type="submit" name="submit" value="Change Password"/>
                    </td>
                </tr>
                <tr>
                    <td align="center">
                        <a href="login.html" name="login">Back to Login</a>
                    </td>
                </tr>
            </table>
        </form>
    </fieldset>
</body>
</html>
