<!DOCTYPE html>
<html>
<head>
    <title>Forgot Password Verification</title>
</head>
<body>
    <fieldset>
        <form method="post" action="../controller/forgotpasswordverify.php">
            <table align="center" width="100%">
                <tr>
                    <td align="center">
                        <h1><b>Forgot Password</b></h1>
                        <h3>Enter the required details to reset your password</h3>
                    </td>
                </tr>
                <tr>
                    <td align="center">Verification Code:<br>
                        <input type="text" name="verification_code" required/>
                    </td>
                </tr>
                <tr>
                    <td align="center">New Password:<br>
                        <input type="password" name="new_password" required/>
                    </td>
                </tr>
                <tr>
                    <td align="center">Retype New Password:<br>
                        <input type="password" name="retype_password" required/>
                    </td>
                </tr>
                <tr>
                    <td align="center">
                        <input type="submit" name="submitverify" value="Change Password"/>
                    </td>
                </tr>
                <tr>
                    <td align="center">
                        <a href="login.html" name="login">Back to Login</a>
                    </td>
                </tr>
            </table>
        </form>
    </fieldset>
</body>
</html>
